.contentContainer{
    /* height: 50%; */
    position:relative;
    display: flex;
    flex-direction: column;
}

/* .grid{
    display: grid;
    grid-template-columns: auto;
    background-color: green;
} */

.heroContainer{
    /* position: absolute;
    left: 0;
    top: 0; */
}
