.heroContainer{
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */
}

.grid{
    display: grid;
    grid-template-columns: auto;
    background-color: green;
    position:relative;
}

.contentContainer{
    height: 50%;
}