.table, th, td {
    /* border: 1px solid black; */
    vertical-align: top;
  }



.row_title{
    white-space: nowrap;       
}

.row_content{
    padding-left: 7%;
}

  .table{
      color: rgb(235, 233, 233);
      width:60%;
      background-color: rgba(255, 255, 255, 0.5);
  }

  .container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-image: url('../../Images/space.jpg');
      background-size: cover;
  }

  