.cardContainer
{
    background-clip: border-box;
    border-radius: 5px;
    height: auto;
    margin: 3% 0 3% 0;
    overflow: hidden;
    background-color:white;
}

.rocket{
    width: auto;
    height: 70%;
}

.text{
    font-weight: bold;
}