.loadingAnimation{
    width: 20%;
    position: absolute;
    z-index: 4;
    font-size: 3em;
    color: white;
    margin: 0 auto;
}


/* .chevron{
    width: 30%;
    position: absolute;
    z-index: 4;
    font-size: 3em;
    color: white;
    margin: 0 auto;
    bottom: 3%;
} */
